@charset "utf-8";
/* CSS Document */
*{
	margin:auto;
}
.khung{
	
}
nav a{
	padding:20px;
	text-decoration: none;
	color:black;
	font-weight: bold;
}
nav{
	padding-top:10px;
}
.anh2{
	float:left;
}